/* You can add global styles to this file, and also import other style files */
body {
  background-color: #e7f0fa; /* Azul muy claro */
  font-family: "Arial", sans-serif;
  color: #333; /* Color de texto */
  margin: 0;
  padding: 0;
}
