<div class="container">
  <h1>Crear Emprendimiento</h1>
  <form (ngSubmit)="onSubmit()" #emprendForm="ngForm" novalidate>
    <div class="form-group">
      <label for="nit">NIT</label>
      <input
        type="number"
        id="nit"
        name="nit"
        [(ngModel)]="emprend.nit"
        class="form-control"
        placeholder="Ingrese el NIT"
        required
      />
    </div>

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        id="nombre"
        name="Nombre"
        [(ngModel)]="emprend.nombre"
        class="form-control"
        placeholder="Ingrese el Nombre"
        required
      />
    </div>

    <div class="form-group">
      <label for="matricula">Matrícula</label>
      <input
        type="number"
        id="matricula"
        name="matricula"
        [(ngModel)]="emprend.matricula"
        class="form-control"
        placeholder="Ingrese la matrícula"
        required
      />
    </div>

    <div class="form-group">
      <label for="fecha_creacion">Fecha de Creación</label>
      <input
        type="datetime-local"
        id="fecha_creacion"
        name="fecha_creacion"
        [(ngModel)]="emprend.fecha_creacion"
        class="form-control"
        required
      />
    </div>

    <div class="form-group">
      <label for="id_ciudad">Ciudad</label>
      <select
        id="id_ciudad"
        name="id_ciudad"
        [(ngModel)]="emprend.id_ciudad"
        class="form-control"
        required
      >
        <option *ngFor="let ciudad of ciu" [value]="ciudad.id">
          {{ ciudad.nombre }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="razon_social">Razón Social</label>
      <input
        type="text"
        id="razon_social"
        name="razon_social"
        [(ngModel)]="emprend.razon_social"
        class="form-control"
        placeholder="Ingrese la razón social"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
  </form>
</div>
